@import url("https://f-mm7.github.io/css4obs/overlay/main.css");

/* not reflect by li */
.voice_state {
  height: 128px;
}

.Voice_name__TALd9 {
  max-width: 128px;
  top: 40px;
  position: relative;
}
